{erl_opts, [debug_info]}.
{deps, []}.

{project_plugins, [rebar3_ex_doc]}.

{ex_doc, [
  {extras, [
    {"README.md", #{title => "Overview"}},
    {"NEWS.md", #{title => "Changelog"}},
    {"LICENSE", #{title => "License"}}
  ]},
  {main, "README.md"},
  {homepage_url, "https://github.com/barrel-db/hlc"},
  {source_url, "https://github.com/barrel-db/hlc"},
  {api_reference, true}
]}.

{hex, [{doc, ex_doc}]}.

{xref_checks, [
  undefined_function_calls,
  undefined_functions,
  locals_not_used,
  deprecated_function_calls,
  deprecated_functions
]}.

{dialyzer, [
  {warnings, [
    unmatched_returns,
    error_handling,
    unknown
  ]},
  {plt_extra_apps, [eunit]}
]}.
